 <div>

                <h1 id="titulo">INFORMACION</h1>

                <P id="info">El Jardín de Niños y Niñas Chiquititos, tiene como fin ofrecer un servicio de guardería de calidad, complementando
                    la educación y cuidado del hogar.</P>

 
         <app-infofotos></app-infofotos>

                <footer class="footer">
                    <div class="container">

                        <span class="text-muted"> Todos los derechos reservados</span>

                    </div>
                </footer>
            </div>