.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card-content {
  width: 200px;
  box-sizing: border-box;
  margin: 16px;
}

#titulo{

    text-align: center;

      }  
      button{


    text-align: center;
    
}
#fondo{

  background-color: antiquewhite;
}
#info{
 font-size:25px;
}
