    <div class="container">


                    <h3 id="titulo">EDITAR ALUMNO</h3>

                    <br>

                    <br>

                    <form role="form">

                        <div class="form-group">

                            <label for="Cedula :">Cedula</label>

    <app-cedulas></app-cedulas>



                        </div>



                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <input class="form-control" placeholder="Introduca el Nombre">
                        </div>
                        <div>
                            <label for="Apellido">Apellido</label>
                            <input class="form-control" placeholder="Introduca su apellido">
                        </div>

                        <div>
                            <label for="Edad">Edad</label>
                            <input class="form-control" placeholder="Introduca su Edad">
                        </div>

                        <br>


                    </form>
                    <div id="titulo">

                        <button id="Guardar" class="btn btn-default">EDITAR</button>
                    </div>

                </div>