.card-container {
  align-items: center;
}

.card-content {
  width: 800px;
  margin: 10px auto;
}

h3 {
  text-align: center;
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}
#Informacion{

    text-align: center;
   
    

}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

html {
	position: relative;
	min-height: 100%; }
  body {
	  overflow-x: hidden;
	  background: #f1f1f1;
	  color: #444;
	  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	  font-size: 13px;
  }