<div class="card-container" *ngIf="apod">
  <mat-card class="card-content">
    <h3>Astronomy Picture of the Day</h3>
    <mat-card-header>
      <img mat-card-avatar src="https://media.giphy.com/media/VLRRWXGuwHpny/giphy.gif">
      <mat-card-title>{{apod.title}}</mat-card-title>
      <mat-card-subtitle>{{apod.date | date:'fullDate'}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="apod.url">

    <mat-card-content>
      <p>{{apod.explanation}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button> Like </button>
      <button mat-button> Share </button>
    </mat-card-actions>
  </mat-card>
</div>


      <div class="slider">
        <ul>
          <li>

             <img src="assets/img/foto1.jpg">

          </li>

          <li>

            <img src="assets/img/foto2.jpg" alt="">

          </li>

          <li>
            

            <img src="assets/img/foto3.jpg" alt="">


          </li>

          <li>

            <img src="assets/img/foto4.jpg" alt="">

          </li>

        </ul>
      </div>


