      <div class="container">

        <h3 id="titulo">ELIMINAR DATOS</h3>
        <br>
        <br>

        <form >

          <div class="form-grup">

            <label >Cedula</label>

          <app-cedulas></app-cedulas>


          </div>


        </form>

        <div >

          <button  id="Guardar" class="btn btn-default">Eliminar</button>
        </div>
        </div>