     
<div class="container">
<h1>Contactenos</h1>
<form (ngSubmit)="onSubmit(RegistarUsuario);" #RegistarUsuario="ngForm">
<div class="form-group">
      <label  for="gender">Nombre</label><br >

   <input  class="form-control" name="Name" required>
    

  </div>
  
<br>
 <div class="form-group">
      <label  for="gender">correo</label><br >

   <input class="form-control" name="Phone" maxlength="16">
     </div>
   
   <br>
    <div class="form-group">
      <label for="gender">Asunto</label><br >

 

   <app-contacte></app-contacte>
     </div>
     <br>
   <div class="form-group">
      <label  for="gender">Mensaje</label><br >

   <textarea class="form-control"  ></textarea>
     </div>



   <button >Enviar</button>

  

</form>


</div>