
<div class="container">
<h1>Registar Alumno</h1>
<form (ngSubmit)="onSubmit(RegistarUsuario);" #RegistarUsuario="ngForm">
<div class="form-group">
      <label  for="gender">Nombre</label><br >

   <input  class="form-control" name="Name" required>
    

  </div>
  
<br>
 <div class="form-group">
      <label  for="gender">Edad</label><br >

   <input class="form-control" name="Phone" maxlength="16">
     </div>
   
   <br>
    <div class="form-group">
      <label for="gender">Genero</label><br >

 

   <app-genero></app-genero>
     </div>
     <br>
   



   <button >Enviar</button>

  

</form>


</div>