 <div id="Informacion">

<h3>Natación</h3>
                
                <ul>
                    <li>
                        <img src="assets/img/natacion1.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img src="assets/img/natacion2.jpg" alt="">
                    </li>

                </ul>
                <h3>Ballet</h3>
                <ul>
                    <li>
                        <img src="assets/img/ballet.jpg" alt="">
                    </li>
                </ul>

                <h3>Comedor</h3>

                <ul>
                    <li>
                        <img src="assets/img/comedor.jpg" alt="">
                    </li>
                </ul>

                <h3>Paseos</h3>

                <ul>
                    <li>
                        <img src="assets/img/paseos1.jpg" alt="">
                    </li>
                    <br>

                    <li>
                        <img src="assets/img/paseos2.jpg" alt="">
                    </li>
                </ul>

                <h3>Celebraciones</h3>
                <ul>
                    <li>
                        <img src="assets/img/celebraciones1.jpg" alt="">
                    </li>

                    <li>
                        <img src="assets/img/celebraciones2.jpg" alt="">
                    </li>
                </ul>

            </div>






