
<mat-toolbar color="primary" id ="bar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>JARDIN DE NIÑOS Y NIÑAS CHIQUITITOS</span>
</mat-toolbar>

<nav>
  <a>
    <button mat-button color="primary" [routerLink]="'/'">
      Principal
    </button>
  </a>
  <a>
    <button mat-button color="primary" [routerLink]="'/info'">
      Informacion
    </button>
  </a>
  <a>
    <button mat-button color="primary" [routerLink]="'/registarusuario'">
     Registar Usuario
    </button>
  </a>

  <a>
    <button mat-button color="primary" [routerLink]="'/editalumno'">
Editar Alumno    </button>
  </a>
  <a>
    <button mat-button color="primary" [routerLink]="'/eliminaralumno'">
Elimnar Alumno    </button>
  </a>

  <a>
    <button mat-button color="primary" [routerLink]="'/registarAlumno'">
Registar Alumno    </button>
  </a>
    <a>
    <button mat-button color="primary" [routerLink]="'/servicios'">
Servicios    </button>
  </a>
  <a>
   <button mat-button color="primary" [routerLink]="'/contac'">
Contactenos    </button>
  </a>

</nav>





<router-outlet></router-outlet>
