

<div class="container">
<h1>Registar Usuario</h1>
<form (ngSubmit)="onSubmit(RegistarUsuario);" #RegistarUsuario="ngForm">
<div class="form-group">
      <label  for="gender">Nombre</label><br >

   <input  class="form-control" matInput placeholder="Nombre" #nombre maxlength="80" [(ngModel)]="ContactModel.name" name="Name" required>
    <br>

  </div>
  <div class="form-group">
      <label  for="gender">Email</label><br >

   <input class="form-control" matInput placeholder="Email" type="email" [(ngModel)]="ContactModel.email" name="Email" required>
      </div>
<br>
 <div class="form-group">
      <label  for="gender">Edad</label><br >

   <input class="form-control" matInput placeholder="Edad" #tel type="tel" [(ngModel)]="ContactModel.phone" name="Phone" maxlength="16">
     </div>
   
   <br>
    <div class="form-group">
      <label for="gender">Genero</label><br >

 

   <app-genero></app-genero>
     </div>
     <br>
   <div class="form-group">
      <label for="gender">Contraseña</label><br >

  <input class="form-control" matInput placeholder="Contraseña" #asunto maxlength="60" [(ngModel)]="ContactModel.subject" name="Subject" required>
   <br>

 
     </div>



   <button  [disabled]="!RegistarUsuario.form.valid">Enviar</button>

  

</form>


</div>